PORT=4000

SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=NumeradorDB
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=YourStrong!Passw0rd
SQLSERVER_ENCRYPT=false
SQLSERVER_TRUST_CERT=true

JWT_SECRET=super_secret_jwt_key_change_me
JWT_ACCESS_EXPIRES=20m
JWT_REFRESH_EXPIRES_DAYS=7
BCRYPT_ROUNDS=12

# Auth provider: local | ad
AUTH_PROVIDER=local
AD_AUTO_PROVISION=true
AD_DEFAULT_ROLE=user
AD_DEFAULT_DEPENDENCIA=GENERAL

# Active Directory / LDAP
AD_URL=ldap://dc01.mi-organizacion.local:389
AD_BASE_DN=DC=mi-organizacion,DC=local
AD_BIND_DN=
AD_BIND_PASSWORD=
AD_USER_FILTER=(sAMAccountName={{username}})
AD_DNI_ATTRIBUTE=employeeID
AD_DNI_FALLBACK_ATTRIBUTES=employeeNumber,serialNumber
AD_FULLNAME_ATTRIBUTE=displayName
# Si no usas AD_BIND_DN, se intentara bind directo con usuario@AD_UPN_SUFFIX
AD_UPN_SUFFIX=mi-organizacion.local

FRONTEND_URL=http://localhost:5173
COOKIE_SECURE=false
