USE NumeradorDB;
GO

IF OBJECT_ID('dbo.tipos_recaudo', 'U') IS NULL
BEGIN
    RAISERROR('La tabla dbo.tipos_recaudo no existe. Ejecuta primero create_tipos_recaudo.sql', 16, 1);
    RETURN;
END;
GO

IF OBJECT_ID('dbo.tipos_recaudo_categoria', 'U') IS NULL
BEGIN
    CREATE TABLE dbo.tipos_recaudo_categoria (
        id INT IDENTITY(1,1) PRIMARY KEY,
        tipo_recaudo_id INT NOT NULL,
        nombre NVARCHAR(160) NOT NULL,
        orden INT NOT NULL CONSTRAINT DF_tipos_recaudo_categoria_orden DEFAULT 0,
        activo BIT NOT NULL CONSTRAINT DF_tipos_recaudo_categoria_activo DEFAULT 1,
        created_at DATETIME2 NOT NULL CONSTRAINT DF_tipos_recaudo_categoria_created_at DEFAULT SYSUTCDATETIME(),
        updated_at DATETIME2 NOT NULL CONSTRAINT DF_tipos_recaudo_categoria_updated_at DEFAULT SYSUTCDATETIME(),
        CONSTRAINT FK_tipos_recaudo_categoria_tipos_recaudo
            FOREIGN KEY (tipo_recaudo_id) REFERENCES dbo.tipos_recaudo(id)
    );

    CREATE UNIQUE INDEX UX_tipos_recaudo_categoria_unique
    ON dbo.tipos_recaudo_categoria(tipo_recaudo_id, nombre);
END;
GO

IF OBJECT_ID('dbo.tipos_recaudo_opcion', 'U') IS NULL
BEGIN
    CREATE TABLE dbo.tipos_recaudo_opcion (
        id INT IDENTITY(1,1) PRIMARY KEY,
        tipo_recaudo_categoria_id INT NOT NULL,
        nombre NVARCHAR(220) NOT NULL,
        orden INT NOT NULL CONSTRAINT DF_tipos_recaudo_opcion_orden DEFAULT 0,
        activo BIT NOT NULL CONSTRAINT DF_tipos_recaudo_opcion_activo DEFAULT 1,
        created_at DATETIME2 NOT NULL CONSTRAINT DF_tipos_recaudo_opcion_created_at DEFAULT SYSUTCDATETIME(),
        updated_at DATETIME2 NOT NULL CONSTRAINT DF_tipos_recaudo_opcion_updated_at DEFAULT SYSUTCDATETIME(),
        CONSTRAINT FK_tipos_recaudo_opcion_categoria
            FOREIGN KEY (tipo_recaudo_categoria_id) REFERENCES dbo.tipos_recaudo_categoria(id)
    );

    CREATE UNIQUE INDEX UX_tipos_recaudo_opcion_unique
    ON dbo.tipos_recaudo_opcion(tipo_recaudo_categoria_id, nombre);
END;
GO

BEGIN TRAN;

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'Comisaría / Div. Violencia de Género' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'OFICIO'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Citación imputado (Notif. debate)' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Comisaría / Div. Violencia de Género'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Citación testigos / damnificados' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Comisaría / Div. Violencia de Género'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Conducción por la fuerza pública' AS nombre, 30 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Comisaría / Div. Violencia de Género'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Ordena traslado de detenido' AS nombre, 40 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Comisaría / Div. Violencia de Género'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Inserta rebeldía / Captura' AS nombre, 50 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Comisaría / Div. Violencia de Género'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Deja sin efecto rebeldía / Libertad' AS nombre, 60 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Comisaría / Div. Violencia de Género'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Notifica cómputo de pena / sentencia' AS nombre, 70 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Comisaría / Div. Violencia de Género'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Plan de contingencia damnificada (Género)' AS nombre, 80 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Comisaría / Div. Violencia de Género'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Acompaña cédula' AS nombre, 90 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Comisaría / Div. Violencia de Género'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'R.N.R.' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'OFICIO'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Pide informe de antecedentes' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'R.N.R.'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Comunica rebeldía' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'R.N.R.'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Revocación de rebeldía' AS nombre, 30 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'R.N.R.'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Comunica sobreseimiento' AS nombre, 40 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'R.N.R.'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Comunica prescripción' AS nombre, 50 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'R.N.R.'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Revocación SJP / Probation' AS nombre, 60 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'R.N.R.'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'Dpto. Judicial D-5 (Antecedentes)' AS nombre, 30 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'OFICIO'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Comunica sobreseimiento' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Dpto. Judicial D-5 (Antecedentes)'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Comunica prescripción' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Dpto. Judicial D-5 (Antecedentes)'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Remite auto / sentencia' AS nombre, 30 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Dpto. Judicial D-5 (Antecedentes)'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'Juzgado de Ejecución Penal' AS nombre, 40 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'OFICIO'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Remite sentencia y cómputo de pena' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Juzgado de Ejecución Penal'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Remite auto revocación SJP' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Juzgado de Ejecución Penal'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Solicita autorización de traslado' AS nombre, 30 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Juzgado de Ejecución Penal'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Informa nuevo hecho (causa en trámite)' AS nombre, 40 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Juzgado de Ejecución Penal'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'Juzgado de Paz' AS nombre, 50 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'OFICIO'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Las Breñas' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Juzgado de Paz'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Charata' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Juzgado de Paz'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Gral. Pinedo' AS nombre, 30 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Juzgado de Paz'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Gancedo' AS nombre, 40 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Juzgado de Paz'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Corzuela' AS nombre, 50 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Juzgado de Paz'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Hermoso Campo' AS nombre, 60 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Juzgado de Paz'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'Cámara Criminal / Apelaciones' AS nombre, 60 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'OFICIO'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Remite causa por incompetencia' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Cámara Criminal / Apelaciones'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Remite causa por recurso' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Cámara Criminal / Apelaciones'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Solicita copia de sentencia/cómputo' AS nombre, 30 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Cámara Criminal / Apelaciones'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'Ministerio Público Fiscal' AS nombre, 70 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'OFICIO'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Remite actuaciones (Incompetencia/Nulidad)' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Ministerio Público Fiscal'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Notifica resolución' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Ministerio Público Fiscal'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'S.A.E.S.' AS nombre, 80 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'OFICIO'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Comunica secuestro' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'S.A.E.S.'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Ordena decomiso' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'S.A.E.S.'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'Juzgado Niñez, Adolescencia y Flia. / UPI' AS nombre, 90 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'OFICIO'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Solicita intervención' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Juzgado Niñez, Adolescencia y Flia. / UPI'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Pide informe' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Juzgado Niñez, Adolescencia y Flia. / UPI'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'Centro Público de Mediación' AS nombre, 100 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'OFICIO'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Deriva causa a mediación' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Centro Público de Mediación'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'Otras Instituciones' AS nombre, 110 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'OFICIO'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Municipalidad (Reglas de conducta)' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Otras Instituciones'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Hospital (Medidas/Informes)' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Otras Instituciones'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Ministerio de Educación' AS nombre, 30 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Otras Instituciones'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Patronato de Liberados' AS nombre, 40 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'OFICIO' AND c.nombre = N'Otras Instituciones'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'SJP / Probation' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'AUTO'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Concede SJP (Común)' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'SJP / Probation'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Concede SJP (Con reglas / estipendio)' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'SJP / Probation'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Deniega SJP (Común)' AS nombre, 30 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'SJP / Probation'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Deniega SJP (Violencia de Género)' AS nombre, 40 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'SJP / Probation'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Revoca SJP (Por Prófugo / Rebeldía)' AS nombre, 50 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'SJP / Probation'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Revoca SJP (Por Incumplimiento)' AS nombre, 60 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'SJP / Probation'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'Rebeldía y Captura' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'AUTO'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Declara Rebeldía y Ordena Captura' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'Rebeldía y Captura'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Revoca Rebeldía' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'Rebeldía y Captura'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'Trámite de Audiencias' AS nombre, 30 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'AUTO'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Fija audiencia de debate' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'Trámite de Audiencias'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Fija nueva audiencia de debate' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'Trámite de Audiencias'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Fija audiencia de visu (Juicio Abreviado)' AS nombre, 30 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'Trámite de Audiencias'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Suspende audiencia' AS nombre, 40 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'Trámite de Audiencias'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'Auto Inter.' AS nombre, 40 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'AUTO'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Cautelar c/medidas de prohibición' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'Auto Inter.'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Admite vía Juicio Abreviado' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'Auto Inter.'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Admisión de pruebas (c/ Inv. Suplementaria)' AS nombre, 30 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'Auto Inter.'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Hace lugar a Mediación' AS nombre, 40 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'Auto Inter.'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Declara Incompetencia (Delito Mayor)' AS nombre, 50 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'Auto Inter.'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Declara Nulidad del Requerimiento' AS nombre, 60 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'Auto Inter.'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Declara Conexidad / Desconexidad' AS nombre, 70 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'AUTO' AND c.nombre = N'Auto Inter.'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'Sobreseimiento' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'SENT_TRAMITE'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Por Prescripción (Paso del tiempo)' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'SENT_TRAMITE' AND c.nombre = N'Sobreseimiento'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Por Prescripción (Funcionario Público)' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'SENT_TRAMITE' AND c.nombre = N'Sobreseimiento'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Por Cumplimiento SJP (Art. 76 ter CP)' AS nombre, 30 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'SENT_TRAMITE' AND c.nombre = N'Sobreseimiento'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Por Fallecimiento del imputado' AS nombre, 40 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'SENT_TRAMITE' AND c.nombre = N'Sobreseimiento'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Por Atipicidad' AS nombre, 50 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'SENT_TRAMITE' AND c.nombre = N'Sobreseimiento'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Por Conciliación' AS nombre, 60 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'SENT_TRAMITE' AND c.nombre = N'Sobreseimiento'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'Sentencia Condenatoria' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'SENT_TRAMITE'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Juicio Abreviado (Condicional)' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'SENT_TRAMITE' AND c.nombre = N'Sentencia Condenatoria'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Juicio Abreviado (Efectiva / Reincidente)' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'SENT_TRAMITE' AND c.nombre = N'Sentencia Condenatoria'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Juicio Abreviado (c/ Unificación de penas)' AS nombre, 30 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'SENT_TRAMITE' AND c.nombre = N'Sentencia Condenatoria'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Juicio Abreviado (Reglas Área Mujer/Género)' AS nombre, 40 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'SENT_TRAMITE' AND c.nombre = N'Sentencia Condenatoria'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Condenatoria en Debate Común' AS nombre, 50 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'SENT_TRAMITE' AND c.nombre = N'Sentencia Condenatoria'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'Sentencia Absolutoria' AS nombre, 30 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'SENT_TRAMITE'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Por in dubio pro reo' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'SENT_TRAMITE' AND c.nombre = N'Sentencia Absolutoria'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Por Abstención Fiscal' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'SENT_TRAMITE' AND c.nombre = N'Sentencia Absolutoria'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Por Atipicidad / Causas de Justificación' AS nombre, 30 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'SENT_TRAMITE' AND c.nombre = N'Sentencia Absolutoria'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'Resoluciones Complementarias' AS nombre, 40 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'SENT_TRAMITE'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Rectificación de Sentencia' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'SENT_TRAMITE' AND c.nombre = N'Resoluciones Complementarias'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_categoria AS target
USING (
    SELECT tr.id AS tipo_recaudo_id, N'Sentencia en Recurso' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo tr
    WHERE tr.codigo = N'SENT_RELATORIA'
) AS source
ON target.tipo_recaudo_id = source.tipo_recaudo_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Hace lugar al recurso' AS nombre, 10 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'SENT_RELATORIA' AND c.nombre = N'Sentencia en Recurso'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Rechaza el recurso' AS nombre, 20 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'SENT_RELATORIA' AND c.nombre = N'Sentencia en Recurso'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

MERGE dbo.tipos_recaudo_opcion AS target
USING (
    SELECT c.id AS tipo_recaudo_categoria_id, N'Declara Nulidad' AS nombre, 30 AS orden
    FROM dbo.tipos_recaudo_categoria c
    INNER JOIN dbo.tipos_recaudo tr ON tr.id = c.tipo_recaudo_id
    WHERE tr.codigo = N'SENT_RELATORIA' AND c.nombre = N'Sentencia en Recurso'
) AS source
ON target.tipo_recaudo_categoria_id = source.tipo_recaudo_categoria_id AND target.nombre = source.nombre
WHEN MATCHED THEN
    UPDATE SET target.orden = source.orden, target.activo = 1, target.updated_at = SYSUTCDATETIME()
WHEN NOT MATCHED THEN
    INSERT (tipo_recaudo_categoria_id, nombre, orden, activo)
    VALUES (source.tipo_recaudo_categoria_id, source.nombre, source.orden, 1);

COMMIT;
GO
