PORT=4000

SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=NumeradorDB
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=YourStrong!Passw0rd
SQLSERVER_ENCRYPT=false
SQLSERVER_TRUST_CERT=true

JWT_SECRET=super_secret_jwt_key_change_me
JWT_ACCESS_EXPIRES=20m
JWT_REFRESH_EXPIRES_DAYS=7
BCRYPT_ROUNDS=12

FRONTEND_URL=http://localhost:5173
COOKIE_SECURE=false
